body{
	width: 900px;
	margin: auto;
}
p{
	text-align: justify;
}
header{
	margin: 20px auto;
	position: relative;
}
nav{
	position: relative;
	float: right;
}
header ul{display: block;}

header li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

footer{text-align: center;}